@import "fuente";
@import "main";
@import "animacion";
*{
	margin:0px;
	padding:0px;
}
body{
	font-family: 'Roboto Mono', monoespacio;
	margin: 20px;
	text-align: center;
	background-color: map-get($map: $palette, $key: 'Primero');
	background-size: cover;
	position: center;
	background-repeat: no-repeat;
	height: 100vh;
	font-size: 1.5rem;
}
.fondocontacto{
	background-image: url(../assets/collage.png);
	background-size: cover;
	background-repeat: repeat;
}
.header{
	color: map-get($map: $palette, $key: 'Tercero');
	font-size: 15px;
	font-weight: 500;
	top: 15px;
	display: flex;
	justify-content: space-between;
	align-items:center;
	padding: 3rem 1.5rem;
	@media all and (max-width:720px){
		display:flex;
		list-style-type: none;
		justify-content: space-evenly;
		flex-direction: row;
		margin-right: 1rem;
		position: center;
	}
}
.container-flex{
	margin:auto;
	margin-bottom: 4rem;
	.logotaba{
		margin: auto;
		margin-left: 0px;
	}
	li{
		display: inline-block;
		list-style-type:none;
		justify-content: space-evenly;
		margin: auto;
		margin-left: 10.5rem;
	.nav-link{
			color: map-get($map: $palette, $key: 'Tercero');
			font-size: 18px;
		}
	}
}
.h1{
	display:flex;
	align-items:center;
	justify-content: center;
	font-weight: bold;
	text-align: center;
	color: map-get($map: $palette, $key:'Segundo');
	font-size: 45px;
	font-weight: 25px;
	background-color: map-get($map: $palette, $key: 'Tercero');
	display: inline;
	margin: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding: 12px;
	@media all and (max-width: 720px){
		font-weight: bold;
		text-align: center;
		color: map-get($map: $palette, $key:'Segundo');
		font-size: 35px;
		font-weight: 20px;
		background-color: map-get($map: $palette, $key: 'Tercero');
		display: inline;
		margin: auto;
		margin-bottom: 5rem;
	}
}
.banner{
@media all and (max-width: 720px){
		display:flex;
		align-items: center;
		justify-items: center;
		margin: auto;
		margin-bottom: 1rem;
		margin-top: 20px;
		width:80%;
	}
}
.p{
	font-size: 30px;
	font-weight: bold;
	color: map-get($map: $palette, $key: 'Tercero');
	margin: auto;
	margin-top: 1rem;
	margin-bottom: 1.5rem;
}
.button1{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: map-get($map: $palette, $key: 'Segundo');
	color: map-get($map: $palette, $key:'Tercero');
	border: 1px solid map-get($map: $palette, $key: 'Segundo');
	border-radius: 5px;
	padding: 0.8rem;
	cursor: pointer;
	margin: auto;
	margin-top: 1.2rem;
	margin-bottom: 0.4rem;
	font-size: 16px;
	@media all and(max-width: 720px){
		display: flex;
		align-items: center;
		justify-content: center;
		color: map-get($map: $palette, $key: 'Segundo');
		border-radius: 5px;
		padding: 0.8rem;
		border:1px solid map-get($map: $palette, $key: 'Segundo');
		cursor: pointer;
		margin: auto;
		margin-top: 1.2rem;
		margin-bottom: 0.4rem;
		font-size: 16px;
	}
}
.h2{
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	text-align: center;
	color: map-get($map: $palette, $key: 'Tercero');
	font-size: 40px;
	font-weight: 25px;
	margin: auto;
	margin-top: 0rem;
	margin-bottom: 3rem;
}
.contain1{
	@media all and (max-width: 720px){
		display: flex;
		align-items: center;
		justify-content: center;
		width: 320px;
		height: 230px;
		margin: auto;
	}
}
.textobio{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: justify;
	flex-direction: inline;
	font-size: 18px;
    width: 750px;
	color: map-get($map: $palette, $key: 'Tercero');
	margin: auto;
	margin-left: 23rem;
	@media all and (max-width: 720px){
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: inline;
		width: 320px;
		font-size: 18px;
		color: map-get($map: $palette, $key: 'Tercero');
		margin: auto;
	}
}
.h3{
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	text-align: center;
	color: map-get($map: $palette, $key: 'Tercero');
	font-size: 40px;
	font-weight: 25px;
	margin: auto;
	margin-top: 0rem;
	margin-bottom: 3rem;
	width: 200px;
	padding: auto;
}
.discos{
	justify-content: center;
	.discos1{
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		margin: auto;
		margin-right: 20px;
		margin-left: 20px;
		margin-bottom: 10px;
		.contain{
			object-fit: contain;
		}
	}
	.discos2{
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		margin: auto;
		margin-right: 20px;
		margin-left: 20px;
		margin-bottom: 10px;
		.contain{
			object-fit: contain;
		}
	}
	.discos3{
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		margin: auto;
		margin-right: 20px;
		margin-left: 20px;
		margin-bottom: 10px;
		.contain{
			object-fit: contain;
		}
	}
}
@mixin discos{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
@mixin button{
	margin: auto;
	margin-top: 3rem;
	margin-bottom: 6rem;
	border-radius: 5px;
	padding: 0.2rem 1.5rem;
	cursor: pointer;
}
.botones1{
@include discos;
@include button;
}
.botones2{
@include discos;
@include button;
}
.botones3{
@include discos;
@include button;
}
.h4{
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	text-align: center;
	color: map-get($map: $palette, $key: 'Tercero');
	font-size: 40px;
	font-weight: 25px;
	margin: auto;
	margin-top: 0rem;
	margin-bottom: 3rem;
	width: 200px;
	padding: auto;
}
.grupos{
	justify-content: center;
	align-items: center;
	.contain{
		object-fit: contain;
	}
	.foto{
		&:hover{
		transform: scale(1.1);
		transition: all 250ms;
	}
    }
}
.grupo1{
	@extend .grupos;
	display: flex;
	justify-content: space-evenly;
	margin: auto;
	margin-bottom: 24px;
	margin-left: 20px;
	margin-right: 20px;
	}
.grupo2{
	@extend .grupos;
	display: flex;
	justify-content: space-evenly;
	margin: auto;
	margin-bottom: 24px;
	margin-left: 20px;
	margin-right: 20px;
	}
.grupo3{
	@extend .grupos;
	display: flex;
	justify-content: space-evenly;
	margin: auto;
	margin-bottom: 24px;
	margin-left: 20px;
	margin-right: 20px;
	}
.grupo4{
	@extend .grupos;
	display: flex;
	justify-content: space-evenly;
	margin: auto;
	margin-bottom: 24px;
	margin-left: 20px;
	margin-right: 20px;
	}
.grupo5{
	@extend .grupos;
	display: flex;
	justify-content: space-evenly;
	margin: auto;
	margin-bottom: 24px;
	margin-left: 20px;
	margin-right: 20px;
	}
.grupo6{
	@extend .grupos;
	display: flex;
	justify-content: space-evenly;
	margin: auto;
	margin-bottom: 24px;
	margin-left: 20px;
	margin-right: 20px;
	}
.h5{
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	text-align: center;
	color: map-get($map: $palette, $key: 'Tercero');
	font-size: 35px;
	font-weight: 25px;
	margin: auto;
	margin-top: 0rem;
	margin-bottom: 3rem;
	width: 200px;
}
.contacto{
	width: 600px;
	margin-left: 32rem;
	font-size: 18px;
	.formcontrol1{
		text-align: left;
		margin: auto;
		margin-top: 0.2rem;
		margin-bottom: 1rem;
		margin-right: 21.3rem;
		font-size: 16px;
		height: 300px;
		width: 500px;
		@media all and (max-width: 720px){
			display: flex;
			align-items: center;
			justify-content: center;
			height: 200px;
			width: 170px;
		}
	}
	@media all and (max-width: 720px){
		width: 170px;
		text-align: left;
		margin: auto;
		margin-top: 0.2rem;
		margin-bottom: 1rem;
		margin-right: 2rem;
		margin-left: 5rem;
		font-size: 16px;
	}
}
.button3{
	border-radius: 5px;
	padding: 0.8rem;
	margin-top: 0.8rem;
	margin-bottom: 3rem;
	margin-right: 26rem;
	font-size: 16px;
	background-color: map-get($map: $palette, $key: 'Segundo');
	color: map-get($map: $palette, $key:'Tercero');
	border: 1px solid map-get($map: $palette, $key: 'Segundo');
	@media all and (max-width: 720px){
		background-color: map-get($map: $palette, $key: 'Segundo');
		color: map-get($map: $palette, $key:'Tercero');
		border: 1px solid map-get($map: $palette, $key: 'Segundo');
		cursor: pointer;
		width: 0px;
		margin: auto;
		margin-right: 12rem;
    }
}
.mx-auto1{
	margin-left: 9rem;
	@media all and (max-width: 720px){
		display: flex;
		align-items: center;
		justify-content: center;
		margin: auto;
		width: 200px;
	}
}
#footer{
	color: map-get($map: $palette, $key: 'Tercero');
	font-size: 25px;
	.redes{
		justify-content: space-between;
		.redes_sociales{
			display: flex;
			align-items: center;
			justify-content: center;
			list-style-type: none;
			margin: auto;
			margin-top: 3rem;
			margin-bottom: 1rem;
			a{
				text-decoration: none;
			}
			i{
				font-size: 3rem;
			}
		}
		.redes_sociales1{
			display: flex;
			align-items: center;
			justify-content: center;
			list-style-type: none;
			margin: auto;
			margin-left: 8rem;
			@media all and (max-width: 720px){
				list-style-type: none;
				margin: auto;
				margin-top: 3 rem;
			}
			a{
				text-decoration: none;
			}
			i{
				font-size: 3rem;
			}
		}
	}
	.mx-auto{
		@media all and (max-width: 720px){
			display: flex;
			align-items: center;
			justify-content: center;
			margin: auto;
			width:  200px;
		}	
	}
	.modal-title{
		color: map-get($map: $palette, $key: 'Cuarto');
	}
}



