* {
	margin:0px;
	padding:0px;
  }
body{
	font-family: 'Roboto Mono', monoespacio;
	margin: 20px;
	text-align: center;
	background-color: #1ff9aa;
	background-size: cover;
	position: center;
	background-repeat: no-repeat;
	height: 100vh;
	font-size: 1.5rem;
}
.header{
	color:#fff;
	font-size: 15px;
	font-weight: 500;
	top: 15px;
	display: flex;
	justify-content: space-between;
	align-items:center;
	padding: 3rem 1.5rem;
	.container-flex{
		margin:auto;
		margin-bottom: 4rem;
		.logotaba{
			margin: auto;
			margin-left: 0px;
		}
		li{
			display: inline-block;
			list-style-type:none;
			justify-content: space-evenly;
			margin: auto;
			margin-left: 10.5rem;
		.nav-link{
				color: white;
				font-size: 18px;
			}
		}
	}
}
.h1{
	display:flex;
	align-items:center;
	justify-content: center;
	font-weight: bold;
	text-align: center;
	color: #f91fb7;
	font-size: 45px;
	font-weight: 25px;
	background-color: white;
	display: inline;
	margin: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding: 12px;
}
.p{
	font-size: 30px;
	font-weight: bold;
	margin: auto;
	margin-top: 1rem;
	margin-bottom: 1.5rem;
}
.button1{
	display:flex;
	align-items: center;
	justify-content: center;
	background-color: #f91fb7;
	color: white;
	border-radius: 5px;
	padding: 0.8rem;
	border: 1px solid #f91fb7;
	cursor: pointer;
	margin:auto;
	margin-top: 1.2rem;
	margin-bottom: 0.4rem;
	font-size: 16px;
}
.h2{
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	text-align: center;
	color: white;
	font-size: 40px;
	font-weight: 25px;
	margin: auto;
	margin-top: 0rem;
	margin-bottom: 3rem;
}
.textobio{
	display: flex;
	align-items: center;
	justify-content: left;
	text-align: justify;
	flex-direction: inline;
    width: 750px;
	font-size: 18px;
	color:white;
	margin: auto;
}
.h3{
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	text-align: center;
	color: white;
	font-size: 40px;
	font-weight: 25px;
	margin: auto;
	margin-top: 0rem;
	margin-bottom: 3rem;
	width: 200px;
	padding: auto;
}
.discos{
	justify-content: center;
	.discos1 .discos2 .discos3{
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		margin: auto;
		margin-right: 20px;
		margin-left: 20px;
		margin-bottom: 10px;
	}
}
div{
	color: white;
	#footer{
		color: white;
		font-size: 25px;
		margin:auto;
		.redes{
			justify-content: space-between;
			.redes_sociales{
				display: flex;
				align-items: center;
				justify-content: center;
				list-style-type: none;
				margin: auto;
				margin-top: 3rem;
				margin-bottom: 1rem;
				a{
					text-decoration: none;
				}
				i{
					font-size: 3rem;
				}
			}
		}
		.mx-auto{
			display: flex;
			align-items: center;
			justify-content: center;	
		}
		.modal-title{
			color:black;
		}
	}
}


