* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Roboto Mono', monoespacio;
  margin: 20px;
  text-align: center;
  background-color: #1ff9aa;
  background-size: cover;
  position: center;
  background-repeat: no-repeat;
  height: 100vh;
  font-size: 1.5rem;
}

body .fondocontacto {
  background-image: url(../assets/collage.png);
  background-size: cover;
  background-repeat: repeat;
}

.header {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 1.5rem;
}

.header .container-flex {
  margin: auto;
  margin-bottom: 4rem;
}

.header .container-flex .logotaba {
  margin: auto;
  margin-left: 0px;
}

.header .container-flex li {
  display: inline-block;
  list-style-type: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto;
  margin-left: 10.5rem;
}

.header .container-flex li .nav-link {
  color: white;
  font-size: 18px;
}

@media all and (max-width: 720px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 1rem;
    position: center;
  }
}

.h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  text-align: center;
  color: #f91fb7;
  font-size: 45px;
  font-weight: 25px;
  background-color: white;
  display: inline;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 12px;
}

@media all and (max-width: 720px) {
  .h1 {
    font-weight: bold;
    text-align: center;
    color: #f91fb7;
    font-size: 35px;
    font-weight: 20px;
    background-color: white;
    display: inline;
    margin: auto;
    margin-bottom: 5rem;
  }
}

@media all and (max-width: 720px) {
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 20px;
    width: 80%;
  }
}

.p {
  font-size: 30px;
  font-weight: bold;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.button1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f91fb7;
  color: white;
  border-radius: 5px;
  padding: 0.8rem;
  border: 1px solid #f91fb7;
  cursor: pointer;
  margin: auto;
  margin-top: 1.2rem;
  margin-bottom: 0.4rem;
  font-size: 16px;
}

@media all and (max-width: 720px) {
  .button1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #f91fb7;
    color: white;
    border-radius: 5px;
    padding: 0.8rem;
    border: 1px solid #f91fb7;
    cursor: pointer;
    margin: auto;
    margin-top: 1.2rem;
    margin-bottom: 0.4rem;
    font-size: 16px;
  }
}

.h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: 25px;
  margin: auto;
  margin-top: 0rem;
  margin-bottom: 3rem;
}

@media all and (max-width: 720px) {
  .contain1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 320px;
    height: 230px;
    margin: auto;
  }
}

.textobio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  text-align: justify;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: inline;
          flex-direction: inline;
  width: 750px;
  font-size: 18px;
  color: white;
  margin: auto;
}

@media all and (max-width: 720px) {
  .textobio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: inline;
            flex-direction: inline;
    width: 320px;
    font-size: 18px;
    color: white;
    margin: auto;
  }
}

.h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: 25px;
  margin: auto;
  margin-top: 0rem;
  margin-bottom: 3rem;
  width: 200px;
  padding: auto;
}

.discos {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.discos .discos1 .discos2 .discos3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.discos .discos1 .discos2 .discos3 .botones1 .botones2 .botones3 .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f91fb7;
  color: white;
  border-radius: 5px;
  padding: .8rem 1.5rem;
  border: 1px solid #f91fb7;
  cursor: pointer;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 6rem;
}

.h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: 25px;
  margin: auto;
  margin-top: 0rem;
  margin-bottom: 3rem;
  width: 200px;
  padding: auto;
}

.grupos {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grupos .grupo1 .grupo2 .grupo3 .grupo4 .grupo5 .grupo6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto;
  margin-bottom: 24px;
  margin-left: 20px;
  margin-right: 20px;
}

.h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  text-align: center;
  color: white;
  font-size: 35px;
  font-weight: 25px;
  margin: auto;
  margin-top: 0rem;
  margin-bottom: 3rem;
  width: 200px;
}

.contacto {
  width: 600px;
  text-align: left;
  margin: auto;
  margin-left: 32rem;
  font-size: 18px;
}

.contacto .formcontrol1 {
  text-align: left;
  margin: auto;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  margin-right: 21.3rem;
  font-size: 16px;
  height: 300px;
  width: 500px;
}

@media all and (max-width: 720px) {
  .contacto .formcontrol1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 16px;
    height: 200px;
    width: 170px;
  }
}

@media all and (max-width: 720px) {
  .contacto {
    width: 170px;
    text-align: left;
    margin: auto;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
    margin-left: 5rem;
    font-size: 16px;
  }
}

.button3 {
  background-color: #f91fb7;
  color: white;
  border-radius: 5px;
  padding: 0.8rem;
  border: 1px solid #f91fb7;
  cursor: pointer;
  margin: auto;
  margin-top: 0.8rem;
  margin-bottom: 3rem;
  margin-right: 26rem;
  font-size: 16px;
}

@media all and (max-width: 720px) {
  .button3 {
    background-color: #f91fb7;
    color: white;
    border: 1px solid #f91fb7;
    cursor: pointer;
    width: 0px;
    margin: auto;
    margin-right: 12rem;
  }
}

.mx-auto1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  margin-left: 9rem;
  width: 200px;
}

@media all and (max-width: 720px) {
  .mx-auto1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    width: 200px;
  }
}

div {
  color: white;
}

div #footer {
  color: white;
  font-size: 25px;
  margin: auto;
}

div #footer .redes {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div #footer .redes .redes_sociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

div #footer .redes .redes_sociales a {
  text-decoration: none;
}

div #footer .redes .redes_sociales i {
  font-size: 3rem;
}

div #footer .redes .redes_sociales1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  margin: auto;
  margin-left: 8rem;
}

@media all and (max-width: 720px) {
  div #footer .redes .redes_sociales1 {
    list-style-type: none;
    margin: auto;
    margin-top: 3 rem;
  }
}

div #footer .redes .redes_sociales1 a {
  text-decoration: none;
}

div #footer .redes .redes_sociales1 i {
  font-size: 3rem;
}

div #footer .mx-auto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media all and (max-width: 720px) {
  div #footer .mx-auto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    width: 200px;
  }
}

div #footer .modal-title {
  color: black;
}
/*# sourceMappingURL=estilos.css.map */