* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Roboto Mono', monoespacio;
  margin: 20px;
  text-align: center;
  background-color: #1ff9aa;
  background-size: cover;
  position: center;
  background-repeat: no-repeat;
  height: 100vh;
  font-size: 1.5rem;
}

.header {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 1.5rem;
}

.header .container-flex {
  margin: auto;
  margin-bottom: 4rem;
}

.header .container-flex .logotaba {
  margin: auto;
  margin-left: 0px;
}

.header .container-flex li {
  display: inline-block;
  list-style-type: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto;
  margin-left: 10.5rem;
}

.header .container-flex li .nav-link {
  color: white;
  font-size: 18px;
}

.h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  text-align: center;
  color: #f91fb7;
  font-size: 45px;
  font-weight: 25px;
  background-color: white;
  display: inline;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 12px;
}

.p {
  font-size: 30px;
  font-weight: bold;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.button1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f91fb7;
  color: white;
  border-radius: 5px;
  padding: 0.8rem;
  border: 1px solid #f91fb7;
  cursor: pointer;
  margin: auto;
  margin-top: 1.2rem;
  margin-bottom: 0.4rem;
  font-size: 16px;
}

.h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: 25px;
  margin: auto;
  margin-top: 0rem;
  margin-bottom: 3rem;
}

.textobio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  text-align: justify;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: inline;
          flex-direction: inline;
  width: 750px;
  font-size: 18px;
  color: white;
  margin: auto;
}

.h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: 25px;
  margin: auto;
  margin-top: 0rem;
  margin-bottom: 3rem;
  width: 200px;
  padding: auto;
}

.discos {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.discos .discos1 .discos2 .discos3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.discos .discos1 .discos2 .discos3 .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f91fb7;
  color: white;
  border-radius: 5px;
  padding: .8rem 1.5rem;
  border: 1px solid #f91fb7;
  cursor: pointer;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 6rem;
}

div {
  color: white;
}

div #footer {
  color: white;
  font-size: 25px;
  margin: auto;
}

div #footer .redes {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div #footer .redes .redes_sociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

div #footer .redes .redes_sociales a {
  text-decoration: none;
}

div #footer .redes .redes_sociales i {
  font-size: 3rem;
}

div #footer .mx-auto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div #footer .modal-title {
  color: black;
}
/*# sourceMappingURL=estilos.css.map */